body {
    background-color: rgb(78, 78, 78);
    color: darkred;
    font-family: Helvetica;
    text-align: center;
    margin: 0;
    padding: 0;
}

#Cabecera {
    background-color: white;
    color: blueviolet;
    padding: 0;
    margin: 0 auto;
    text-align: left;

    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

#Extra {
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    font-family: Helvetica;
    background-color: rgb(0, 0, 151);
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0;
    border: 2px none black;
    box-shadow: 0px 2px 50px 0px rgba(36, 36, 36, 0.75);
}

#Extra #Logo {
    padding-right: 0.2em;
    width: 30px;
    vertical-align: middle;
}

#Extra #linea {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1.5em;
}

#Extra #Carita {
    width: 5%;
    padding-left: 11em;
    vertical-align: bottom;
}

#Contenido {
    color: black;
    font-family: Arial;
    padding: 0.5em;
    margin: 0;
    text-align: center;

}

#Contenido #Foto {
    width: 50%;
}

#Pie_de_pagina {
    background-color: rgb(1, 1, 56);
    color: whitesmoke;
    padding: 0.3em 0.5em 0.5em 0.5em;
}

#Copyright {
    width: 50px;
    vertical-align: middle;
}