body {
    color: darkred;
    font-family: Helvetica;
    text-align: center;
}

#Cabecera {
    color: blueviolet;
    padding: 1em;
    margin: auto;
    text-align: left;
    width: 70%;
    border: 2px solid red;
}

#Extra {
    text-decoration: greenyellow underline;
    font-style: oblique;
    font-family: Arial;
    background-color: khaki;
    padding: 0.5em;
    margin: 0 10px 0 50px;
    border: 4px dashed pink;
}